# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env
backend/.env

# Backend data
backend/*.json
backend/*.csv
extract-data-*.csv
extract-data-*.json

# Uploads
uploads/
DRF/*.pdf

# Docker
*.tar
docker-compose.override.yml
